body{
    margin: 0;
    padding: 0;
    font-family: 'Nunito'; font-size: 16px;
    background-color: #F7F7F7;
    width: 100%;
}

/*grid body*/
.gridContainer{
    display:grid;
    max-width: 1440px;
    grid-template-columns:auto;
    grid-template-rows: 60px auto 400px;

    grid-template-areas:
        "header"
        "main"
        "footer";
}

header{
    grid-area: header;
    max-height: 60px;
    background-color:#293346;     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

main{
    grid-area:main;
}

/*MENU-logo*/
.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    margin-left: 10px;
}

.config{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}
/*MENU-config*/


/*BARRA BUSQUEDA HEADER*/
.search-container{
    position:relative;
    max-width: 250px;
    justify-self: center;
}

.search-input{
    border:solid 1px white;
    width: 100%;
    padding-left: 5px;
    padding-right: 40px;
    height: 25px;
    box-sizing: border-box;
    background-color:transparent;
    border-radius: 5px;
    color: white;
}

.search-input:focus{
    outline: none;
    box-shadow: none;
}

.search-input::placeholder{
    color: white;
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}

button,.icon{
    border: none;
    background-color: #293346;
    cursor: pointer;
}

.icon{
    background-color:#293346;
}

.header-icon-cart{
    height: 22px;
    width: 26px;
}

.header-icon{
    height: 24px;
    width: 24px;
}


.sidebar{
    width: 160px; /* Ancho del nav sin hover */
    background-color: #1a2b40;
    padding-top: 0px;
    position: absolute;
    top:60px;
    z-index: 9998;
    max-height: 0px;
    transition: max-height 0.6s ease; 
    overflow: hidden;
}

.hidden{
    max-height: 480px;
}

.sidebar ul {
margin-top: 0px;
margin-left: -22px;
list-style-type: none;  
}

.sidebar ul li {
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

.sidebar li{
    display: flex;
    flex-direction: row;
    margin-left: 0px;
    justify-content: start;
    gap: 22px;
}

.sidebar img{
    width: 20px;
    height: 18px;
}

.sidebar ul li:hover{
    background-color: #3b4a61;
}

.sidebar ul li a {
    text-decoration: none;
    color: #fff;
}

.sidebar ul li.category {
    font-size: 14px;
    color: #ddd;
    text-transform: uppercase;
    margin-top: 20px;
}

/*game*/

.game-container{
    background-color: #F0F0F0;
    margin:10px;
    width: 1300px;
    height: 1870px;
    /*border: 1px solid;*/
    display:flex;
    flex-direction: column;
    margin-left: 15px;
    padding-left: 15px;
}

.view-container{
    height: 600px;
    width: 1210px;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.gameframe{
    width: 1000px;
    height: 600px;
    display:flex;
    flex-direction: column;
}

.galery{
    height: 600px;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.imgsuperior{
    width: 200px;
    height: 190px;
    /*border: 1px solid;*/
    justify-content: center;
    align-items: center;
}

.imgmedium{
    width: 200px;
    height: 190px;
    justify-content: center;
    align-items: center;
}

.imginf{
    width: 200px;
    height: 190px;
    justify-content: center;
    align-items: center;
}

.game-container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.frame{
    height: 560px;
}
.bargame{
    background-color: #435372;
    height: 40px;
    width: 1000px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}

.bargame .icon{
    background-color: #435372;
    margin-right: 15px;
    width: 24px;
    height: 24px;
}

.aboutGame{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.aboutGame img{
    width: 25px;
    height: 25px;
}

.gameinstructions{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.gameinstructions img{
    width: 25px;
    height: 25px;
}

.instructions{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 3000px;
    gap: 10px;
}

.instructions img{
    width: 35px;
    height: 40px;
    object-fit: cover;
}

.comentarycontainer{
    display:flex;
    flex-direction:column;
}

.comentarytitle{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px
}

.comentarytitle img{
    width: 25px;
    height: 25px;
}

.comentarybody{
    width: 600px;
    height: 635px;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.comentary{
    position: relative;
    width: 600px;
    height: 80px;
    background-color: #273f5e;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 5px;
    gap: 10px;
}

input{
    width: 420px;
    height: 30px;
    align-items: center;
    background-color: #1a2b40;
    margin-left: 15px;
    background: none;
    border: none;
    opacity: 0.9;
    border-bottom: 1px solid white;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Nunito', sans;

}
::placeholder{
    color: #bb7c0f;
    font-weight: 500;
}

.comentary img{
    position: absolute;
    left: 20px;
    z-index: 99999;
    width: 15px;
    height: 15px;
}

.comentary button{
    justify-content: center;
    width: 80px;
    height: 25px;
    background-color: #EAA329;
    color: white;
    border-radius: 5px;
    font-family: 'Nunito', sans;
    font-size: 14px;
}

.comentary button:hover{
    background-color: #bb7c0f;
}

.coments{
    width: 600px;
    height: 80px;
    background-color: #3e6699;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 5px;
}
.userperfil{
    width: 420px;
    height: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 35px;
    margin-left: 15px;
    border-bottom: 1px solid white;
    margin-bottom: 0px;
}

.userperfil img{
    width: 15px;
    height: 15px;
}

.icon-user{
    position: absolute;
    left: 52px;
}

.icon-like{
    position: absolute;
    left: 480px;
}

.coment{
    padding-left: 35px;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.comment,p{
    margin: 0;
}

.vertodos{
    align-self: flex-end;
    width: 110px;
    height: 30px;
    background-color: #EAA329;
    color: white;
    border-radius: 5px;
    font-family: 'Nunito', sans;
    font-size: 14px;
}















/*____________________________FOOTER____________________________*/
/*ver si setear tamanio*/
footer{
    
    height: max-content;
    grid-area:footer;
    background-color: #293346;
    z-index: 1;
    position: relative;
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer h2{
    font-size: 24px;
    margin: 5px 0px 0px 0px;
}

.container-footer-cards{
    flex-wrap: wrap;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}

.card-footer-card{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 220px;
    max-width: 250px;
    
}

.card-long-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0%;
    height: 220px;
    max-width: 500px;
}

.container-social-networks{
    width: 230px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.footer-copyright{
    color: white;
    text-align: center;
    justify-content: end;
    height: 150px;
    max-width: 1300px;
}

.span-copyright{
    color: #EAA329;
}

.line-card-footer{
    border: none;
    background-color: #1D2432;
    height: 2px;
    width: 100%;
}

.p-desktop-smallLight{
    font-size: 14px;
}

.loader-container{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 99999;    
}

#loader{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    font-size: 20px;
    z-index: 9999;
}

.porcentaje{
    margin-top: 0;
    text-align: center;
    font-size: 14px;
}

.spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s infinite;
    margin-bottom: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.186);
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Ocultar el loader una vez cargado */
body.loaded #loader {
    display: none;
}
    

