body{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

/*grid body*/
.gridContainer{
    display:grid;

    grid-template-columns: 60px auto;
    grid-template-rows: 60px 480px auto 400px;

    grid-template-areas:
        "header header"
        "nav main"
        "aside aside"
        "footer footer";
}

header{
    grid-area: header;
    max-height: 60px;
    background-color: chocolate;
}

nav{
    /*ver si setear tamanio*/
    grid-area: nav;
    background-color: brown;
}

main{
    /*ver si setear tamanio*/
    grid-area:main;
    background-color: cornflowerblue;
}

aside{
    grid-area: aside;
    height: max-content;/*se amolda al alto que ocupan*/
    background-color: yellowgreen;
}

footer{
    /*ver si setear tamanio*/
    grid-area:footer;
    background-color: teal;
}












/*diseño mobile*/
@media only screen and(min-width: 650px){
    
    .gridContainer{
            
        grid-template-columns: auto;
        grid-template-rows: 60px 480px auto 400px;

        grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
    }

}


