body{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

/*grid body*/
.gridContainer{
    display:grid;

    grid-template-columns: 60px auto;
    grid-template-rows: 60px 480px auto 400px;

    grid-template-areas:
        "header header"
        "nav main"
        "aside aside"
        "footer footer";
}

header{
    grid-area: header;
    max-height: 60px;
    background-color: chocolate;
}

nav{
    /*ver si setear tamanio*/
    grid-area: nav;
    background-color: brown;
}

main{
    /*ver si setear tamanio*/
    grid-area:main;
    background-color: cornflowerblue;
}

aside{
    grid-area: aside;
    height: max-content;/*se amolda al alto que ocupan*/
    background-color: yellowgreen;
}

footer{
    /*ver si setear tamanio*/
    max-height: 400px;
    grid-area:footer;
    background-color: teal;

}

/*carouseles simples*/
.carousel-container {
    position: relative;
    width: 1400px; /* Ancho fijo del contenedor */
    margin: 20px auto;
    overflow: hidden;/*evita rebalse de cards/carousel*/
}

/*nombre de categoria-REVISAR PROPIEDADES FIGMA*/
.carousel-title {
    text-align: left;
    margin-bottom: 15px;/*ACA*/
    font-size: 24px;/*ACA*/
    font-weight: bold;/*ACA*/
}

/*contenedor de cards-REVISAR PROPIEDADES FIGMA*/
.carousel {
    display: flex;
    justify-content: center;/*centra las cartas y cumple con la ley de gestalt*/
    transition: transform 0.5s ease;
    gap: 20px;/*ACA*/
    margin-top: 10px;
    margin-bottom: 10px;
    will-change: transform;
}

/*boton de carousel FALTA DAR CORRECTO DISEÑO*/
.carousel-btn {
    background-color: #333;
    color: white;
    font-size: 34px;
    border: none;
    padding: 15px;
    border-radius: 5px;
    position: absolute;
    top: 60%; /* Ajustado para que siempre estén centrados a card */
    transform: translateY(-50%);
    z-index: 1;
    cursor: pointer;/*cuando se acerca se cambia el cursor a clickeable*/
    opacity: 0.7;
    display: none;
}

/*visibilidad del boton cuando navega por carousel*/
.carousel-container:hover .carousel-btn {
    display: block;
}

.carousel-btn.left {
    left: 10px;
}

.carousel-btn.right {
    right: 10px;
}

.carousel-btn:hover {
    opacity: 1;
}

.carousel-container {
    padding-top: 30px; /* Añadido para dar espacio al título y evitar que los botones se muevan */
    margin: 20px auto;
}

/*contenido card inicio*/
.card {
    flex: 0 0 220px; /* Tamaño fijo de cada card */
    height: 280px;
    background-color: #fafafa;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
    /*nuevos cambios*/
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;/* ACA ver si va*/
}

.card:hover {
    transform: scale(1.05);/*estaba en 1.1*/
    z-index: 1;
}

.badge {
    position: absolute;
    top: 10px;
    /*left: 10px;*/
    padding: 5px 10px;
    font-size: 12px;
    font-weight: bold;
    color: white;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    
}

.badge-new {
    background-color: #e74c3c; /* Rojo */
}

.badge-popular {
    background-color: #f39c12; /* Naranja */
}

.badge-update {
    background-color: #27ae60; /* Verde */
}

.card-img {
    width: 100%;
    height: 185px;
    object-fit:cover;
    padding-bottom: 0;
    margin-bottom: 0;
}

/*conjunto contenido card*/
.card-body {
    margin-top: 0px;
    padding-left: 5px;
    padding-top: 0px;
}

.card-title {
    font-size: 16px;/*ACA*/
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 5px;
}

.card-description {
    font-size: 14px;
    color: #666;
    margin-top: 0px;
    margin-bottom: 5px;
}

.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;

}

.card-price {
    font-size: 18px;
    font-weight: bold;
}

.card-btn {
    background-color: #435372;
    width: 40px;
    height: 40px;
    border: none;
    padding: 10px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-btn img {
    width: 20px;
    height: 20px;
}

.card-btn:hover {
    background-color: #063553;
}
/*fin card y contenido card*/

/*seccion destacada*/
.carousel-container-outstandings{
    width: 1400px;
    height: 480px;
    margin: 20px auto;
}

.carousel-outstandings-title{
    margin: 0px;
    font-size: 32px;
}

.description-container-outstandings{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 38px;
    margin-right: 30px;
    margin-top: 0px;
    margin-bottom: 10px;
}

.description-container-outstandings p{
    margin:0px;
    margin-bottom: 5px;
    font-size: 16px;
}

.container-outstandings-btn{
    width: 132px;
    height: 40px;
    background-color: #7588AE;
    margin-right: 5px;
    border-radius: 5px;
    border: none;
}

.container-outstandings-btn:hover{
    background-color: #063553;
    cursor: pointer;
}

.carousel-outstandings{
    display: flex;
    justify-content: center;
    gap: 15px;
}

.card-outstanding{
    width: 320px;
    height: 370px;
}

.card-outstanding img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    padding-bottom: 0;
    margin-bottom: 0;
}
/*fin seccion destacada*/



/*diseño mobile*/
@media only screen and(min-width: 650px){
    
    .gridContainer{
            
        grid-template-columns: auto;
        grid-template-rows: 60px 480px auto 400px;

        grid-template-areas:
            "header header"
            "main main"
            "aside aside"
            "footer footer";
    }

}


