:root {
    --primary-color: #2F3A50; /* 500 Azul*/
    --secondary-color: #9D9D9D; /* 500 Gris */
    --accent-color: #EAA329; /* 500 Naranja*/
    --error--color:#FC4040;
    --warning--color:#F5DF14;
    --success--color:#33CC33;
    --black--color:#000000;
    --white--color:#FFFFFF;
    --font-size-h1: 40px;
    --font-size-h2: 32px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
    --font-size-paragraph-desktop: 26px;
    --font-size-paragraph-small: 14px; /* Gris oscuro */
}

body{
    margin: 0;
    padding: 0;
    max-width: 1440px;
}

/*grid body*/
.gridContainer{
    display:grid;

    grid-template-columns: 60px auto;
    grid-template-rows: 60px auto 400px;

    grid-template-areas:
        "header header"
        "nav main"
        "footer footer";
}

header{
    grid-area: header;
    max-height: 60px;
    background-color:#293346;     
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
/*MENU-logo*/
.menu{
    display:flex;
    flex-direction: row;
    align-items: center;
    gap:30px;
    margin-left: 10px;
}

.config{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    margin-right: 5px;
}
/*MENU-config*/


/*BARRA BUSQUEDA HEADER*/
.search-container{
    position:relative;
    max-width: 250px;
    justify-self: center;
}

.search-input{
    border:solid 1px white;
    width: 100%;
    padding-left: 5px;
    padding-right: 40px;
    height: 25px;
    box-sizing: border-box;
    background-color:transparent;
    border-radius: 5px;
    color: white;
}

.search-input:focus{
    outline: none;
    box-shadow: none;
}
.search-input::placeholder{
    color: white;
    opacity: 0.8;
    font-size: 14px;
    font-weight: normal;
}

.search-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
}
button,.icon{
    border: none;
    background-color: #293346;
    cursor: pointer;
}
.icon{
    background-color:#293346;
}


nav{
    /*ver si setear tamanio*/
    grid-area: nav;
    background-color: brown;
}

main{
    /*ver si setear tamanio*/
    height: 1200px;/*PROVISORIO*/
    grid-area:main;
    background-color: cornflowerblue;
}

footer{
    /*ver si setear tamanio*/
    max-height: 400px;
    grid-area:footer;
    background-color: teal;

}
