body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.body-container{
    margin: 0;
    padding: 0;
    max-width: 1280px;
    height: auto;/*prueba*/
    font-family: 'Lato',serif;
}

.scroll-section{
    position: relative;
    width: 100%;
    height: 100%;
}


/*___________LOADER___________*/
.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    font-family: Arial, sans-serif;
    z-index: 999999999;
}

#loader {
    width: 300px;
    height: 60px;
    background-color: #333;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5);
}

#loader .progress-bar {
    height: 100%;
    width: 0%;
    background: linear-gradient(90deg, red, orange, yellow, green, blue, indigo, violet);
    background-size: 400%;
    animation: rainbow 1s linear infinite;
    border-radius: 10px;
    transition: width 0.2s ease-in-out;
}

#loader .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 16px;
    font-weight: bold;
    z-index: 2;
}

@keyframes rainbow {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

/* Ocultar el loader una vez cargado */
body.loaded .loader-container {
    display: none;
}

/* Animación para las imágenes */
.falling-images {
    position: absolute;
    top: -100px; /* Empieza fuera de la pantalla */
    left: calc(50% - 40px); /* Ajusta al centro con variaciones */
    width: 150px;
    height: 150px;
    animation: fall 1.5s linear infinite;
    z-index: 1;
    opacity: 0.5; /* Para un efecto visual más suave */
}

/* Variar la posición de cada imagen */
.falling-images:nth-child(1) {
    left: 10%;
    animation-delay: 0s;
}
.falling-images:nth-child(2) {
    left: 20%;
    animation-delay: 0.25s;
}
.falling-images:nth-child(3) {
    left: 30%;
    animation-delay: 0.5s;
}
.falling-images:nth-child(4) {
    left: 40%;
    animation-delay: 0.75s;
}
.falling-images:nth-child(5) {
    left: 50%;
    animation-delay: 1s;
}
.falling-images:nth-child(6) {
    left: 60%;
    animation-delay: 1.25s;
}
.falling-images:nth-child(7) {
    left: 70%;
    animation-delay: 1.5s;
}
.falling-images:nth-child(8) {
    left: 80%;
    animation-delay: 2s;
}
/* Animación de caída */
@keyframes fall {
    0% {
        top: -100px;
        transform: rotate(0deg);
    }
    100% {
        top: 110%;
        transform: rotate(360deg); /* Girar mientras cae */
    }
}


/*___________FIN LOADER___________*/
/*secciones*/

.seccion1{
    overflow: hidden;
    background-image: url('../src/seccion1/ff.svg');
    height: 959px;
}
/*header en seccion 1*/
.seccion1{
    background-image: url('../src/seccion1/ff.svg');
    height: 959px;
}

/* MENU HAMBURGUESA */

.bars__menu{
    top: 24px;
    position: absolute;
    width: 40px;
    height: 34px;
    transform: translate(-50%, -50%) scale(1);
    cursor: pointer;
    left: 100px;
}

.bars__menu span {
    display: block;
    width: 100%;
    height: 4px;
    background: #F39E46;
    transform-origin: 0px 100%;
    transition: all 300ms;
    border: 4px solid #FFFFFF;
    border-radius: 5px;
    box-shadow: 3px 3px 2px #0c2b6b;
}

.activeline1__bars-menu{
    transform: rotate(45deg) translate(-2px, 2px); 
    border: 0px solid #FFFFFF;
}

.activeline2__bars-menu{
    opacity: 0;
    margin-left: -30px; 
}

.activeline3__bars-menu{
    transform: rotate(-45deg) translate(-5px, 9px);
    border: 0px solid #FFFFFF;
}

.menu{
    display: flex;
    flex-direction: column;
    position: relative;
    top: 60px;
    left: -50px;
    justify-content: space-between;
}

.menu-option-hidden{
    height: 22px;
    width: 125px;
    padding-left: 10px;
    padding-top: 3px;
    background-color: #F39E46;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 50px;
    margin-top: 1px;
    visibility: hidden;
    opacity: 0;
    transition: transform 0.8s ease, opacity 0.8s ease, visibility 0.8s ease;
}

.menu-option{
    height: 22px;
    width: 125px;
    padding-left: 10px;
    padding-top: 3px;
    background-color: #F39E46;
    color: #FFFFFF;
    border: 5px solid #FFFFFF;
    border-radius: 50px;
    margin-top: 1px;
    transition: left 0.8s ease, opacity 0.8s ease;
    cursor: pointer;
}

/*FIN MENU HAMBURGUESA*/

/*BOTON COMPRAR*/

.button-comprar {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 100px;
    height: 8px;
    background: #83C252;
    border-radius: 50px;
    border: 8px #FFFFFF solid;
    box-shadow: 4px 4px 1px #0c2b6b;
    --width: 200px;
    --timing: 2s;
    width: var(--width);
    padding-block: 1em;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    transition: all 0.2s;
    cursor: pointer;
}

.button-comprar:hover {
    background-image: linear-gradient(
    to right,
    rgb(250, 82, 82),
    rgb(250, 82, 82) 16.65%,
    rgb(190, 75, 219) 16.65%,
    rgb(190, 75, 219) 33.3%,
    rgb(76, 110, 245) 33.3%,
    rgb(76, 110, 245) 49.95%,
    rgb(64, 192, 87) 49.95%,
    rgb(64, 192, 87) 66.6%,
    rgb(250, 176, 5) 66.6%,
    rgb(250, 176, 5) 83.25%,
    rgb(253, 126, 20) 83.25%,
    rgb(253, 126, 20) 100%,
    rgb(250, 82, 82) 100%
    );
    animation: var(--timing) linear arcoiris infinite;
    transform: scale(1.1) translateY(4px);
}

@keyframes arcoiris {
    to {
    background-position: var(--width);
    }
}

/* ___________________BOTON VIEJO___________________
.btn-comprar{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 100px;
    height: 50px;
    width: 200px;
    background: #83C252;
    border-radius: 50px;
    border: 5px #FFFFFF solid;
    box-shadow: 3px 3px 2px #0c2b6b;
    cursor: pointer;
}
    

.button-comprar h4{
    font-weight: bold;
    font-size: 20px;
    color: #FFFFFF;
}
*/
/*FIN BOTON COMPRAR*/
/*header en seccion 1*/
.header-container{
    width: 1280px;
    position: fixed;
    top: 0;
    height: 103px;
    background-image: url('../src/seccion1/header.svg');
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 999999;
    
}


.header{
    width:1080px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.logo{
    position: absolute;
    left: 360px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 560px;
    height: 320px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 9999;
}

#logo-principal-header{
    position:absolute;
    left: 350px;
    height: 320px;
    width: 560px;
    transition: 1s ease;
    transform: scale(1);
}

/*fin seccion header*/
/*paralax seccion 1*/
.keyart{
    position: relative;
}

.keyart_layer{
    position:absolute;
}

#keyart-0{
    background-image: url('../src/seccion1/arbol\ 1.svg');
    background-repeat: no-repeat;
    width: 560px;
    height: 867px;
    left:-152px;
    top:0px;
    z-index: 29;
}
#keyart-1{
    background-image: url('../src/seccion1/arbol\ 2.svg');
    background-repeat: no-repeat;
    width: 434px;
    height: 672px;
    left: 880px;
    top: 107px;
    z-index: 15;
}

#keyart-2{
    background-image: url('../src/seccion1/arbol\ 3.svg');
    background-repeat: no-repeat;
    width: 278px;
    height: 430px;
    left: 1079px;
    top: 278px; 
    z-index: 5;   
}
#keyart-3{
    background-image: url('../src/seccion1/nube\ verde\ 1.svg');
    background-repeat: no-repeat;
    height: 107px;
    width: 244px;
    left: 1079px;
    top: 662px;
    z-index: 10;
}
#keyart-5{
    background-image: url('../src/seccion1/nube\ verde\ 2.svg');
    background-repeat: no-repeat;
    height: 63px;
    width: 191px;
    left: 1027px;
    top: 630px;
    z-index: 4;

}
#keyart-6{
    background-image: url('../src/seccion1/nube\ verde\ 3.svg');
    background-repeat: no-repeat;
    height: 102px;
    width: 156px;
    left: 197px;
    top: 840px;
    z-index: 30;

}
#keyart-7{
    background-image: url('../src/seccion1/nube\ verde\ 4.svg');
    background-repeat: no-repeat;
    height: 114px;
    width: 295px;
    left: 161px;
    top: 718px;
    z-index: 28;
}
#keyart-8{
    background-image: url('../src/seccion1/piedra\ 1.svg');
    background-repeat: no-repeat;
    height: 74px;
    width: 114px;
    left: 1069px;
    top: 737px;
    z-index: 35;
}
#keyart-9{
    background-image: url('../src/seccion1/piedra\ 2.svg');
    background-repeat: no-repeat;
    height: 78px;
    width: 145px;
    left: 129px;
    top: 793px;
    z-index: 29;
}
#keyart-10{
    background-image: url('../src/seccion1/piedra\ 3.svg');
    background-repeat: no-repeat;
    height: 56px;
    width: 66px;
    left: 1035px;
    top: 737px;
    z-index: 30;
}
#keyart-11{
    background-image: url('../src/seccion1/piedra\ 4.svg');
    background-repeat: no-repeat;
    height: 35px;
    width: 59px;
    left: 1043px;
    top: 787px;
    z-index: 40;
}
#keyart-12{
    background-image: url('../src/seccion1/cuadrado\ 1.svg');
    background-repeat: no-repeat;
    height: 314px;
    width: 240px;
    left: 411px;
    top: 500px;
    z-index: 20;
}
#keyart-13{
    background-image: url('../src/seccion1/cuadrado\ 2.svg');
    background-repeat: no-repeat;
    height: 270px;
    width: 210px;
    left: 536px;
    top: 403px;
    z-index: 12;
}
#keyart-14{
    background-image: url('../src/seccion1/cuadrado\ 3.svg');
    background-repeat: no-repeat;
    height: 384px;
    width: 200px;
    left: 694px;
    top: 338px;
    z-index: 1;
}
/*seccion 2*/
.seccion2{
    background-image: url('../src/seccion2/ff\ 1.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    height: 1876px;
}

.app-divertida{
    margin:0;
    padding: 0;
    position: absolute;
    top:60px;
    left: 100px;
    gap: 10px;
}

.app-divertida h1{
    color: #1B428F;
    text-align: start;
    width: 508px;
    margin: 0;
    padding: 0;
    height: 132px;
    font-size: 47px;
    font-weight:700;
    line-height: 94.5%;
}

.app-divertida p{
    color: #1B428F;
    font-size: 20px;
    height: 218px;
    width: 704px;
    font-weight: 300;
}

.borde-cuadro{
    width: 516px;
    height: 265px;
    position: relative;
    top: 336px;
    left: 235px;
    border: #1b5f99 30px solid;
    border-radius: 77px;
    z-index: 2;
    overflow: hidden;
}
.cuadro{
    position: absolute;
    top: -29px;
    left: -29px;
    z-index: 1;
}

.cuadro img{
    position: absolute;
    width: 576px;
    height: 324px;
    z-index: 1;
    transition: opacity 0.5s ease;
    opacity: 0;
}

.cuadro img.visible{
    opacity: 1;
}

.movFiguras-secDos{
    position: relative;
    top: 0;
}

.figura4{
    position: absolute;
    top: 537px;
    left: 48px;
    z-index: 5;
}

.figura5{
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 5;
}

/*inicio cards*/
.card-container{
    position: absolute;
    left: 100px;
    max-width:1080px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    top: 1220px;
    gap: 40px;
    /*border: 1px solid black;*/
}

.card-section2{
    display: flex;
    width: 338px;
    flex-direction:column;
    position: relative;
    top: 320px;
    opacity: 0;
    transition: top 0.8s ease, opacity 0.8s ease;
}

.card-content1,.card-content2,.card-content3, p{
    font-size: 20px;
    font-weight: 500;
    justify-content: start;
    width: 100%;   
}

.card-box{
    width: 337px;
    height: 308px;
}


/*seccion 3*/

.seccion3{
    background-image: url('../src/seccion3/Rectangle\ 26.svg');
    height: 1157px;
    overflow: hidden;
}

#parallax1{
    position: absolute;
    background-image: url('../src/seccion3/persnajesJuntos.svg');
    width: 120%;
    height: 100%;
    background-size: 86%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    top:200px;
    left:-130px;
}

.searchGame{
    margin: 0;
    position:absolute;
    top: 175px;
    left:150px;
    max-width: 950px;
    height: 153px;
}
.searchGame h1{
    margin: 0;
    text-align: center;
    width: 100%;
    line-height: 110%;
    letter-spacing: 0%;
    font-size: 61px;
    color:white;
}
.searchGame span{
    font-style: oblique;
}

.downloadButton{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 381px;
    left: 350px;
    border:4px solid white;
    background-color: rgb(34, 212, 34);
    border-radius: 40px;
    width: 540px;
    height: 66px;
    
}

/*______________________SECCION 4______________________*/
.seccion4{
    background-color: white;
    height: 5421px;/*5442px;*/
    display: flex;
    flex-direction: column;
}

.parte-titulo{
    height: 235px;
}

.parte-articulos{
    height: 5186px; /*totalseccion4 = 5421 / parteTitulo = 235 / parteArticulos = 5186*/
    position: relative;
    display: flex;
}

.title-secCuatro{
    margin: 0;
    position: relative;
    left: 100px;
    top: 125px;
    font-size: 60px;
}

.articles-secCuatro{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personajes-secCuatro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 613px;
    left: 230px;
}

.pj{
    position: fixed;
    top: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.pj-sticky-cero{
    position: sticky;
    top: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.pj-sticky-diez{
    position: sticky;
    bottom: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.ocultar-pj{
    height: 435px;
    width: 290px;
    transform: scale(0.1);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
}

.art-secCuatro{
    position: relative;
    /*top: 40px;
    left: 100px;*/
    width: 467PX;
}

.title-artCuatro{margin: 0;
    font-size: 40px;
}

.p-secCuatro{
    margin: 0;
    font-size: 20px;
}
/*______________________FIN SECCION 4______________________*/

/*seccion 5*/
.seccion5{
    background-image: url('../src/seccion5/Rectangle\ 25.svg');
    height: 1444px;
    overflow: hidden;
}

.videoDescription{
    margin: 0;
    position: absolute;
    top:307px;
    left: 100px;
    width: 802px;
    height: 171px;
}

.videoDescription h1{
    color: #FFFFFF;
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 60px;
    line-height: 94.5%;
    letter-spacing: 0%;
    align-self: top;
}

.movFiguras-secCinco{
    position: relative;
    top: 0;
}

.video{
    position:absolute;
    border: #FFFFFF solid 30px;
    border-radius: 50px;
    top:526px;
    left: 100px;
    width: 720px;
    height: 402px;
    z-index: 2;
    overflow: hidden;
}

.video-sec5{
    position: absolute;
    top: -2px;
    width: 720px;
    height: 405px;
    z-index: 1;
}

.personaje3video{
    position:absolute;
    top:352px;
    left:720px;
    z-index: 3;
}


/* ------------------ SECCION 6 -------------------- */

.seccion6{
    height: 2037px;/*1763px;*/    
}


.imagen3d{
    position: absolute;
    width: 667px;
    height: 973px;
    right: 14px;
    top: 7px
}

#reveal{
    width: 100%;
    height: 100%;

}

.descripcion3d{    
    width: 467px;
    height: 190px;
}

.descripcion3d p{
    font-size: 20px;
    width: inherit;
    position: absolute;
    left: 100px;
    top: 591px;
}


.titulo3d{
    margin:0;
    padding: 0;
    position: absolute;    
    width: 746px;
    height: 285px;
    left: 102px;
    top: 220px;
}

.titulo3d h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: Lato;
    color: #9D2121;
    text-align: left;
}

.conteiner-cubo-sec6 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.sec6-cubo-red,
.sec6-cubo-orange,
.sec6-cubo-yellow,
.sec6-cubo-green,
.sec6-cubo-ligthBlue, 
.sec6-cubo-blue, 
.sec6-cubo-fullColor, 
.sec6-cubo-purple, 
.sec6-cubo-grey, 
.sec6-cubo-white{
    position: absolute;
    z-index: 9999;
    filter: drop-shadow(4px 4px 20px #FFFFFF);
}


.sec6-cubo-red{
    bottom: 354px;
    left: 0px;
    height: 375px;
    width: 251px;
    overflow: hidden;
}


.sec6-cubo-red img:hover {
    animation: resizeAndShadowRed 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowRed {
    0% {
        height: 375px;
        width: 251px;
    filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 380px;
        width: 261px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-orange{
    bottom: 354px;
    left: 279px;
    height: 375px;
    width: 235px;
    overflow: hidden;
}

.sec6-cubo-orange img:hover {
    animation: resizeAndShadowOrange 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowOrange {
    0% {
        height: 375px;
        width: 235px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 380px;
        width: 245px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-yellow{
    bottom: 354px;
    left: 548px;
    height: 375px;
    width: 235px;
    overflow: hidden;
}

.sec6-cubo-yellow img:hover {
    animation: resizeAndShadowYellow 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowYellow {
    0% {
        height: 375px;
        width: 235px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 380px;
        width: 245px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-green{
    bottom: 354px;
    right: 241px;
    height: 375px;
    width: 226px;
    overflow: hidden;
}

.sec6-cubo-green img:hover {
    animation: resizeAndShadowGreen 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowGreen {
    0% {
        height: 375px;
        width: 226px;
    filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 380px;
        width: 236px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-ligthBlue{
    bottom: 354px;
    right: 0px;
    height: 375px;
    width: 215px;
    overflow: hidden;
}

.sec6-cubo-ligthBlue img:hover {
    animation: resizeAndShadowLigthblue 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowLigthblue {
    0% {
        height: 375px;
        width: 215px;
    filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 380px;
        width: 225px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-blue{
    bottom: 0px;
    left: 16px;
    height: 325px;
    width: 235px;
    overflow: hidden;
}

.sec6-cubo-blue img:hover {

    animation: resizeAndShadowBlue 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowBlue {
    0% {
        height: 325px;
        width: 235px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 330px;
        width: 245px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-fullColor{
    bottom: 0px;
    left: 280px;
    height: 326px;
    width: 236px;
    overflow: hidden;
}

.sec6-cubo-fullColor img:hover {
    animation: resizeAndShadowFullColor 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowFullColor {
    0% {
        height: 326px;
        width: 236px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 331px;
        width: 246px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-purple{
    bottom: 0px;
    left: 543px;
    height: 325px;
    width: 239px;
    overflow: hidden;
}

.sec6-cubo-purple img:hover {
    animation: resizeAndShadowPurple 1s ease forwards; /* Aplica la animación al hacer hover */
}
@keyframes resizeAndShadowPurple {
    0% {
        height: 325px;
        width: 239px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 330px;
        width: 249px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-grey{
    right: 240px;
    bottom: 0px;
    height: 326px;
    width: 228px;
    overflow: hidden;
}

.sec6-cubo-grey img:hover {
    animation: resizeAndShadowGrey 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowGrey {
    0% {
        height: 326px;
        width: 228px;
        filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 331px;
        width: 238px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}

.sec6-cubo-white{
    right: 0px;
    bottom: 0px;
    height: 326px;
    width: 216px;
    overflow: hidden;
}

.sec6-cubo-white img:hover {
    animation: resizeAndShadowWhite 1s ease forwards; /* Aplica la animación al hacer hover */
}

@keyframes resizeAndShadowWhite {
    0% {
        height: 326px;
        width: 216px;
    filter: drop-shadow(4px 4px 20px #FFFFFF);
    }    
    100% {
        height: 331px;
        width: 226px;
        filter: drop-shadow(4px 4px 15px #FFFFFF);
    }
}



.conteiner-cubo-sec6{
    background-image: url('../src/seccion6/Fondo.svg');
    background-repeat: no-repeat;
    width: 1280px;
    height: 729px;
    bottom: 275px;
    position: absolute;

}
/* ------------------ FIN SECCION 6 -------------------- */


/* ------------------ SECCION 7 -------------------- */

.seccion7{
    background-image: url('../src/seccion7/ff\ 2.svg');
    height: 1296px;
    object-fit: cover;
}

.novedades{
    margin: 0;
    position: absolute;
    top:-84px;
    left: 100px;
    width: 816px;
    height: 171px;
    z-index: 500;
}

.novedades h1{
    margin: 0;
    color: black;
    text-align: start;
    font-weight: bold;
    font-size: 60px;
    line-height: 94.5%;
    letter-spacing: 0%;
    align-self: top;
    
}

.input-section{
    position:absolute;
    left: 100px;
    top:123px;
}

.inputSecSiete{
    margin: 0%;
    padding-left: 50px;
    font-size: 20px;
    height: 78px;
    width: 512px;
    background-color: #ECECEC;
    color: black;
    border: 10px solid #FFFFFF;
    box-shadow: 4px 6px 1px #0c2b6b;
    border-radius: 100px 0px 0px 100px;
}

input:focus{
    outline: none;
}

.buttonSecSiete{
    font-family: 'Lato',serif;
    position: absolute;
    left: 571px;
    margin: 0%;
    padding: 0%;
    font-size: 20px;
    font-weight: bolder;
    height: 99px;
    width: 218px;
    background-color: #83C252;
    color: #FFFFFF;
    border: 10px solid #FFFFFF;
    box-shadow: 4px 6px 1px #0c2b6b;
    border-radius: 0px 100px 100px 0px;
    cursor: pointer;
}

.inscripcion-content{
    position: absolute;
    left: 100px;
    top: 269px;
    z-index: 99994;
}

.inscripcion-content p{
    font-size: 20px;
    line-height: 1;
    height: 218px;
    width: 578px;
    font-weight: 300;
}

.restriction{
    position:absolute;
    left: 100px;
    top: 400px;
    z-index: 999994;
}

#bird{
    height: 365px;
    width: 372px;
    margin: auto;
    background: url(../src/seccion7/birdsframes.png)repeat-x;
    animation: fly 0.9s steps(5)infinite;
    position: absolute;
    top: 420px;
    left: 200px;
    z-index: 99999;
}

#sun{
    height: 200px;
    width: 200px;
    margin: auto;
    background: url(../src/seccion7/sun-spritesheet-small.13d0509.png)repeat-x;
    animation: dance 0.9s steps(8)infinite;
    position: absolute;
    top: 200px;
    right: 100px;
    z-index: 99999;
}

@keyframes jump {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:1024px }
  }
@keyframes fly {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:1860px }
  }
@keyframes dance {
/* Partimos de la primera viñeta del sprite sheet */
0% { background-position:0 }
/* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
100% { background-position:1600px }
}
/*seccion infinita*/

@keyframes scroll {
    0% {background-position-x: 1280px;}
    100% {background-position-x: -375px;}
}
.layer-1{
    background-image: url('../src/seccion7/cloud1.png');
    position: absolute;
    width: 100%;
    height: 124px;
    bottom: 929px;
    background-repeat: no-repeat;
    z-index: 99991;
    animation: scroll 25s infinite linear;
}

.layer-2{
    background-image: url('../src/seccion7/cloud2.png');
    position: absolute;
    width: 100%;
    height: 181px;
    bottom: 829px;
    z-index: 99992;
    background-repeat: no-repeat;
    animation: scroll 30s infinite linear;
}

.layer-3{
    background-image: url('../src/seccion7/cloud.png');
    position: absolute;
    width: 100%;
    height: 180px;
    bottom: 570px;
    z-index: 99;
    background-repeat: no-repeat;
    animation: scroll 22s infinite linear;
}

.gif1,.gif2,.gif3{
    position: absolute;
}

.gif3{
    bottom: 42px;
    left:65px
}
.gif2{
    left: 756px;
    bottom: -41px;
    z-index: 999995;
}
.gif2 img{
    height: 997px;
    width: 561px;
}
.gif1{
    bottom: 42px;
    left: 407px;
}


footer{
    width: 1280px;
    height: 595px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.footer-play-consoles{
    max-width: 1080px;
}

.footer-about-container{
    background-color: #5E5E5D;
    height: 515px;
    display: flex;
}

.footer-about-content{
    margin-top: 25px;
    margin-top: 15px;
    width: 820px;
    margin-left: 100px;
    text-align: left;
    letter-spacing: 11%;
}

.subrayado{
    text-decoration: underline;
}
















































/*prueba
.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    color:white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    rotate: -30deg;
}

#uno{
    background-color: cadetblue;
}

#dos{
    background-color: yellow;
}

#tres{
    background-color: black;
}

#cuatro{
    background-color: red;
}

#cinco{
    background-color:grey;
}

#seis{
    background-color: green;
}

#siete{
    background-color: blue;
}

#ocho{
    background-color: yellow;
}

.boxAlert{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: 0deg;
    transition: 2s ease-in-out;
}

.boxRotate{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: -30deg;
    transition: 2s ease-in-out;
}

.boxTranslate{
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    transform: translate(-100px);
    transition: 2s ease-in-out;
}*/