body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.margins{
    margin: 0;
    padding: 0;
    max-width: 1280px;
    height: auto;/*prueba*/
    font-family: 'Lato',serif;
}

.scroll-section{
    position: relative;
    width: 100%;
    height: 100%;
}
/*secciones*/

.seccion1{
    overflow: hidden;
    background-image: url('../src/seccion1/ff.svg');
    height: 959px;
}
/*header en seccion 1*/
.seccion1{
    background-image: url('../src/seccion1/ff.svg');
    height: 959px;
}
/*header en seccion 1*/
.header-container{
    width: 1280px;
    position: fixed;
    top: 0;
    height: 400px;
    background-color: transparent;
    display: flex;
    justify-content: center;
    z-index: 9999;
    
}

.header-container-scroll{
    height: 103px;
    background-image: url('../src/seccion1/header.svg');
}

.header{
    width:1080px;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}

.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 400px;
}

.logo img{
    width: 100%;
    height: 100%;
    object-fit:cover;
    z-index: 9999;
}

#logo-principal-header{
    height: 320px;
    width: 560px;
    transition: 1s ease;
}

/*fin seccion header*/
/*paralax seccion 1*/
.keyart{
    position: relative;
}

.keyart_layer{
    position:absolute;
}

#keyart-0{
    background-image: url('../src/seccion1/arbol\ 1.svg');
    background-repeat: no-repeat;
    width: 560px;
    height: 867px;
    left:-152px;
    top:0px;
    z-index: 29;
}
#keyart-1{
    background-image: url('../src/seccion1/arbol\ 2.svg');
    background-repeat: no-repeat;
    width: 434px;
    height: 672px;
    left: 880px;
    top: 107px;
    z-index: 15;
}

#keyart-2{
    background-image: url('../src/seccion1/arbol\ 3.svg');
    background-repeat: no-repeat;
    width: 278px;
    height: 430px;
    left: 1079px;
    top: 278px; 
    z-index: 5;   
}
#keyart-3{
    background-image: url('../src/seccion1/nube\ verde\ 1.svg');
    background-repeat: no-repeat;
    height: 107px;
    width: 244px;
    left: 1079px;
    top: 662px;
    z-index: 10;
}
#keyart-5{
    background-image: url('../src/seccion1/nube\ verde\ 2.svg');
    background-repeat: no-repeat;
    height: 63px;
    width: 191px;
    left: 1027px;
    top: 630px;
    z-index: 4;

}
#keyart-6{
    background-image: url('../src/seccion1/nube\ verde\ 3.svg');
    background-repeat: no-repeat;
    height: 102px;
    width: 156px;
    left: 197px;
    top: 840px;
    z-index: 30;

}
#keyart-7{
    background-image: url('../src/seccion1/nube\ verde\ 4.svg');
    background-repeat: no-repeat;
    height: 114px;
    width: 295px;
    left: 161px;
    top: 718px;
    z-index: 28;
}
#keyart-8{
    background-image: url('../src/seccion1/piedra\ 1.svg');
    background-repeat: no-repeat;
    height: 74px;
    width: 114px;
    left: 1069px;
    top: 737px;
    z-index: 35;
}
#keyart-9{
    background-image: url('../src/seccion1/piedra\ 2.svg');
    background-repeat: no-repeat;
    height: 78px;
    width: 145px;
    left: 129px;
    top: 793px;
    z-index: 29;
}
#keyart-10{
    background-image: url('../src/seccion1/piedra\ 3.svg');
    background-repeat: no-repeat;
    height: 56px;
    width: 66px;
    left: 1035px;
    top: 737px;
    z-index: 30;
}
#keyart-11{
    background-image: url('../src/seccion1/piedra\ 4.svg');
    background-repeat: no-repeat;
    height: 35px;
    width: 59px;
    left: 1043px;
    top: 787px;
    z-index: 40;
}
#keyart-12{
    background-image: url('../src/seccion1/cuadrado\ 1.svg');
    background-repeat: no-repeat;
    height: 314px;
    width: 240px;
    left: 411px;
    top: 500px;
    z-index: 20;
}
#keyart-13{
    background-image: url('../src/seccion1/cuadrado\ 2.svg');
    background-repeat: no-repeat;
    height: 270px;
    width: 210px;
    left: 536px;
    top: 403px;
    z-index: 12;
}
#keyart-14{
    background-image: url('../src/seccion1/cuadrado\ 3.svg');
    background-repeat: no-repeat;
    height: 384px;
    width: 200px;
    left: 694px;
    top: 338px;
    z-index: 1;
}
/*seccion 2*/
.seccion2{
    background-image: url('../src/seccion2/ff\ 1.svg');
    background-repeat: no-repeat;
    object-fit: cover;
    height: 1876px;
}

.app-divertida{
    margin:0;
    padding: 0;
    position: absolute;
    top:60px;
    left: 100px;
    gap: 10px;
}

.app-divertida h1{
    color: #1B428F;
    text-align: start;
    width: 508px;
    margin: 0;
    padding: 0;
    height: 132px;
    font-size: 47px;
    font-weight:700;
    line-height: 94.5%;
}

.app-divertida p{
    font-size: 20px;
    height: 218px;
    width: 704px;
    font-weight: 300;
}
.cuadro{
    position: absolute;
    top: 336px;
    left:136px;
}

.figura4{
    position: absolute;
    top: 537px;
    left: 48px;
    z-index: 2;
}

.figura5{
    position: absolute;
    top: -87px;
    right: 0px;
    z-index: 2;
}

/*inicio cards*/
.card-container{
    position: absolute;
    left: 100px;
    max-width:1080px;
    display: flex;
    flex-direction: row;
    justify-content: start;
    top: 1220px;
    gap: 40px;
    /*border: 1px solid black;*/
}

.card-section1,.card-section2,.card-section3{
    display: flex;
    width: 338px;
    flex-direction:column;
}

.card-content1,.card-contnt2,.card-content3, p{
    font-size: 20px;
    font-weight: 500;
    justify-content: start;
    width: 100%;   
}

.card-box{
    width: 100%;
    height: 100%;
}


/*seccion 3*/

.seccion3{
    background-image: url('../src/seccion3/Rectangle\ 26.svg');
    height: 1157px;
    overflow: hidden;
}

#parallax1{
    position: absolute;
    background-image: url('../src/seccion3/persnajesJuntos.svg');
    width: 120%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 20;
    top:200px;
    left:-130px;
}

.searchGame{
    margin: 0;
    position:absolute;
    top: 175px;
    left:150px;
    max-width: 950px;
    height: 153px;
}
.searchGame h1{
    margin: 0;
    text-align: center;
    width: 100%;
    line-height: 110%;
    letter-spacing: 0%;
    font-size: 61px;
    color:white;
}
.searchGame span{
    font-style: oblique;
}

.downloadButton{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 24px;
    position: absolute;
    top: 381px;
    left: 350px;
    border:4px solid white;
    background-color: rgb(34, 212, 34);
    border-radius: 40px;
    width: 540px;
    height: 66px;
    
}

/*______________________SECCION 4______________________*/
.seccion4{
    background-color: white;
    height: 5421px;/*5442px;*/
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.parte-titulo{
    height: 235px;
}

.parte-articulos{
    height: 5186px; /*totalseccion4 = 5421 / parteTitulo = 235 / parteArticulos = 5186*/
    position: relative;
    display: flex;
}

.title-secCuatro{
    margin: 0;
    position: relative;
    left: 100px;
    top: 125px;
    font-size: 60px;
}

.articles-secCuatro{
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.personajes-secCuatro{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 613px;
    left: 230px;
}

.pj{
    position: fixed;
    top: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.pj-sticky-cero{
    position: sticky;
    top: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.pj-sticky-diez{
    position: sticky;
    bottom: 140px;
    height: 445px;
    width: 290px;
    transform: scale(1);
    opacity: 1;
    transition: transform 0.8s ease, opacity 0.5s ease;
}

.ocultar-pj{
    height: 435px;
    width: 290px;
    transform: scale(0.1);
    opacity: 0;
    transition: transform 0.5s ease, opacity 0.5s ease;
    visibility: hidden;
}

.art-secCuatro{
    position: relative;
    /*top: 40px;
    left: 100px;*/
    width: 467PX;
}

.title-artCuatro{margin: 0;
    font-size: 40px;
}

.p-secCuatro{
    margin: 0;
    font-size: 20px;
}
/*______________________FIN SECCION 4______________________*/

/*seccion 5*/
.seccion5{
    background-image: url('../src/seccion5/Rectangle\ 25.svg');
    height: 1444px;
    overflow: hidden;
}

.videoDescription{
    margin: 0;
    position: absolute;
    top:307px;
    left: 100px;
    width: 802px;
    height: 171px;
}

.videoDescription h1{
    margin: 0;
    text-align: start;
    font-weight: bold;
    font-size: 60px;
    line-height: 94.5%;
    letter-spacing: 0%;
    align-self: top;
}

.video{
    position:absolute;
    top:526px;
    left: 100px;
}

.personaje3video{
    position:absolute;
    top:352px;
    left:720px;
}


/* SECCION 6 */

.seccion6{
    background-image: url('../src/seccion6/455\ -\ para cortar.svg');
    height: 2037px;/*1763px;*/
    background-repeat: no-repeat;
    object-fit: cover;
    background-position: center bottom 275px;    
    overflow: hidden;
}


.imagen3d{
    position: absolute;
    width: 667px;
    height: 973px;
    right: 14px;
    top: 7px
}

#reveal{
    width: 100%;
    height: 100%;

}

.descripcion3d{    
    width: 467px;
    height: 190px;
}

.descripcion3d p{
    width: inherit;
    position: absolute;
    left: 100px;
    top: 548px;
}


.titulo3d{
    margin:0;
    padding: 0;
    position: absolute;    
    width: 746px;
    height: 285px;
    left: 102px;
    top: 220px;
}

.titulo3d h1{
    margin: 0;
    padding: 0;
    font-size: 60px;
    font-family: Lato;
    color: #9D2121;
    text-align: left;
}


.seccion7{
    background-image: url('../src/seccion7/ff\ 2.svg');
    height: 1296px;
    object-fit: cover;
}

.novedades{
    margin: 0;
    position: absolute;
    top:-84px;
    left: 100px;
    width: 816px;
    height: 171px;
    z-index: 500;
}

.novedades h1{
    margin: 0;
    color: black;
    text-align: start;
    font-weight: bold;
    font-size: 60px;
    line-height: 94.5%;
    letter-spacing: 0%;
    align-self: top;
    
}

.input-section{
    position:absolute;
    left: 100px;
    top:123px;
}

.inscripcion-content{
    position: absolute;
    left: 100px;
    top: 269px;
}
.inscripcion-content p{
    font-size: 20px;
    height: 218px;
    width: 704px;
    font-weight: 300;
}

.restriction{
    position:absolute;
    left: 100px;
    top: 375px;
}

#bird{
    height: 365px;
    width: 372px;
    margin: auto;
    background: url(../src/seccion7/birdsframes.png)repeat-x;
    animation: fly 0.9s steps(5)infinite;
    position: absolute;
    top: 400px;
    left: 200px;
    z-index: 99999;
}
@keyframes fly {
    /* Partimos de la primera viñeta del sprite sheet */
    0% { background-position:0 }
    /* El tamaño total de ancho del sprite. Es negativo para que no "camine" hacia atrás */
    100% { background-position:1860px }
  }
/*seccion infinita*/

@keyframes scroll {
    0% {background-position-x: 1080px;}
    100% {background-position-x: 0px;}
}
.layer-1{
    background-image: url('../src/seccion7/cloud1.png');
    position: absolute;
    width: 1280px;
    height: 124px;
    bottom: 929px;
    background-repeat: repeat-x;
    z-index: 99999;
    animation: scroll 15s infinite linear;
}

.layer-2{
    width: 1280px;
    height: 181px;
    background-image: url('../src/seccion7/cloud2.png');
    position: absolute;
    bottom: 829px;
    z-index: 99999;
    background-repeat: repeat-x;
    animation: scroll 25s infinite linear;
}

.layer-3{
    background-image: url('../src/seccion7/cloud.png');
    position: absolute;
    width: 1280px;
    height: 180px;
    bottom: 570px;
    z-index: 99;
    background-repeat: repeat;
    animation: scroll 20s infinite linear;
}

.gif1,.gif2,.gif3{
    position: absolute;
}

.gif3{
    bottom: 42px;
    left:65px
}
.gif2{
    left: 756px;
    bottom: -41px;
    z-index: 9999999;
}
.gif2 img{
    height: 997px;
    width: 561px;
}
.gif1{
    bottom: 42px;
    left: 407px;
}


footer{
    width: 1280px;
    height: 595px;
    background-color: #242424;
    display: flex;
    flex-direction: column;
}
.footer-content{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
}
.footer-play-consoles{
    max-width: 1080px;
}

.footer-about-container{
    background-color: #5E5E5D;
    height: 515px;
    display: flex;
    justify-content: center;
}

.footer-about-content{
    width: 1080px;
    font-size: 20px;
}















































/*prueba
.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    color:white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    rotate: -30deg;
}

#uno{
    background-color: cadetblue;
}

#dos{
    background-color: yellow;
}

#tres{
    background-color: black;
}

#cuatro{
    background-color: red;
}

#cinco{
    background-color:grey;
}

#seis{
    background-color: green;
}

#siete{
    background-color: blue;
}

#ocho{
    background-color: yellow;
}

.boxAlert{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: 0deg;
    transition: 2s ease-in-out;
}

.boxRotate{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: -30deg;
    transition: 2s ease-in-out;
}

.boxTranslate{
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    transform: translate(-100px);
    transition: 2s ease-in-out;
}*/