body{
    margin: 0;
    padding: 0;
    max-width: 1280px;
    height: auto;/*prueba*/
    border: solid 1px black;
}

.scroll-section{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



















































/*prueba
.box{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
    color:white;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 1s ease-in-out;
    rotate: -30deg;
}

#uno{
    background-color: cadetblue;
}

#dos{
    background-color: yellow;
}

#tres{
    background-color: black;
}

#cuatro{
    background-color: red;
}

#cinco{
    background-color:grey;
}

#seis{
    background-color: green;
}

#siete{
    background-color: blue;
}

#ocho{
    background-color: yellow;
}

.boxAlert{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: 0deg;
    transition: 2s ease-in-out;
}

.boxRotate{
    background-color: red;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    rotate: -30deg;
    transition: 2s ease-in-out;
}

.boxTranslate{
    background-color: white;
    color: black;
    font-size: 25px;
    font-weight: bolder;
    transform: translate(-100px);
    transition: 2s ease-in-out;
}*/